<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LinearAlgebra2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>Tjoker.pojo.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>Tjoker.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>Tjoker.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>forgetPwd</display-name>
    <servlet-name>forgetPwd</servlet-name>
    <servlet-class>Tjoker.client.servlet.ForgetPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetPwd</servlet-name>
    <url-pattern>/forgetPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCode</display-name>
    <servlet-name>SendCode</servlet-name>
    <servlet-class>Tjoker.client.servlet.SendCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCode</servlet-name>
    <url-pattern>/SendCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Tjoker.admin.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFileServlet</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>Tjoker.admin.servlet.ListFileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JisuanServlet</display-name>
    <servlet-name>JisuanServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.JisuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JisuanServlet</servlet-name>
    <url-pattern>/JisuanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Tjoker.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>Tjoker.client.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
</web-app>